*
{
  text-align: justify;
  color: white;
}

.bg
{
  background-image: linear-gradient(#5a143a ,#8a4e53 );
}
.bg-body
{
  background-image: linear-gradient(#95373b ,#6a0a28 );
  color: white;
}
.box-shadow {
  box-shadow: 5px 10px 7px #fffafa;
}
#header-h1
{
  font-size: 30px;
}
@media screen and (max-width: 500px) {
  #header-h1
{
  font-size: 20px;
}
}
@media screen and (max-width: 380px) {
  #header-h1
{
  font-size: 15px;
}
}
@media screen and (max-width: 260px) {
  #header-h1
{
  font-size: 10px;
}
}